Options +FollowSymlinks
RewriteEngine on

ErrorDocument 400 /page.php?id=400
ErrorDocument 401 /page.php?id=401
ErrorDocument 403 /page.php?id=403
ErrorDocument 404 /page.php?id=404
ErrorDocument 500 /page.php?id=500

# HTTPS redirection
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://embed.molview.org/$1 [L,R=302]

# Allow iframe embedding.
# The X-Frame-Options ALLOW-FROM directive is obsolete.
# Header set X-Frame-Options "ALLOW-FROM=*"
Header always unset X-Frame-Options
