Options +FollowSymlinks
RewriteEngine on

ErrorDocument 400 /page.php?id=400
ErrorDocument 401 /page.php?id=401
ErrorDocument 403 /page.php?id=403
ErrorDocument 404 /page.php?id=404
ErrorDocument 500 /page.php?id=500

# HTTPS redirection
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://molview.org/$1 [L,R=302]

# WWW redirection
RewriteCond %{HTTP_HOST} ^www.molview.org$ [NC]
RewriteRule ^(.*)$ http://molview.org/$1 [L,R=302]

# Markdown pages
RewriteRule ^readme$ page.php?id=readme [L]
RewriteRule ^changelog$ page.php?id=changelog [L]
RewriteRule ^license$ page.php?id=license [L]
RewriteRule ^legal$ page.php?id=legal [L]
RewriteRule ^htmlCanvas$ page.php?id=htmlcanvas [L]
