Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.molview.org$ [NC]
RewriteRule ^(.*)$ http://molview.org/$1 [R=301]

RewriteRule ^thanks$ pages/thanks.html [L]
RewriteRule ^nosupport$ pages/nosupport.html [L]
RewriteRule ^embed$ embed.php [L]
