@import (reference) "form";

/*
form
*/
select:active
{
	.form-box-active;
}

.btn:active
{
	.form-box-active;
}

.close-btn:active, .dialog-close-btn:active
{
	color: #f00;
}

/*
menu
*/
.dropdown-toggle:not(.tool-button-disabled):active
{
	background-color: @light !important;
}

.dropdown-menu > li > a:not(.disabled):active
{
	background: @light3;
}

/*
sketcher
*/
.tool-button:not(.tool-button-disabled):active
{
	opacity: 1.0 !important;
	background-color: @light3 !important;
	box-shadow: inset 0 3px 10px @contrast3;
}

/* periodictable */
.pt-element:active
{
	background-color: @light2;
	box-shadow: inset 0 3px 10px @contrast2;
}

/*
help
*/
.expandable-title:active
{
	.form-box-active;
}

/*
search
*/
.search-result-title:active, .search-result-notext:active > .search-result-title, .load-more:active
{
	background: @light2;
	box-shadow: inset 0 0 10px @contrast;
}

.load-more:active
{
	border-color: @contrast;
}

/*
messages
*/
.message-close-btn:active
{
	background: #222;
	box-shadow: inset 0 3px 10px #000;
}
