@import (reference) "form";
@import (reference) "autocomplete";

/*
form
*/
input:not([disabled])[type="text"]:hover
{
	background-color: @light;
}

select:hover
{
	.form-box-hover;
}

.btn:hover
{
	.form-box-hover;
}

.close-btn:hover, .dialog-close-btn:hover
{
	color: #f50;
}

/*
menu
*/
.dropdown-toggle:hover
{
	background-color: @light2 !important;
	border-color: @contrast;
}

.dropdown-menu > li > a:not(.disabled):hover
{
	background: @light2;
}

/*
sketcher
*/
.tool-button:not(.tool-button-selected):not(.tool-button-disabled):hover
{
	opacity: 1.0;
	background-color: @light3;
}

/*
periodictable
*/
.pt-element:hover
{
	background: @light2;
}

/*
help
*/
.expandable-title:hover
{
	.form-box-hover;
}

/*
search
*/
.search-result-title:hover, .search-result-notext:hover > .search-result-title, .load-more:hover
{
	background: @light;
}

.load-more:hover
{
	border-color: @contrast;
}

/*
autocomplete
*/
.autocomplete-item:hover
{
	.autocomplete-item-hover;
}

/*
messages
*/
.message-close-btn:hover
{
	background: #222;
}
