@import "autocomplete";

/*
form
*/
select:hover
{
	border-bottom-color: #f50;
}

.btn:not(.btn-primary):hover
{
	background: #fff;
	border-color: #aaa;
}

.btn-primary:hover
{
	background: #f50;
}

.btn-search:hover
{
	border-color: #f50 !important;
}

.close-btn:hover, .dialog-close-btn:hover
{
	color: #f50;
}

/*
menu
*/
.dropdown-toggle:hover
{
	background-color: #eee !important;
}

.dropdown-menu > li > a:not(.disabled):hover
{
	background: #eee;
}

/*
sketcher
*/
.tool-button:not(.tool-button-selected):not(.tool-button-disabled):hover
{
	opacity: 1.0;
	background-color: #ddd;
}

/*
periodictable
*/
.pt-element:hover
{
	background: #ddd;
}

/*
help
*/
.expandable-title:hover
{
	background: #fff;
}

/*
search
*/
.load-more:hover
{
	color: #fff;
	background-color: #f50;
}

.result-title:hover
{
	background: #f50;
}

.result-notext:hover > .result-title
{
	background: #f50;
}

/*
autocomplete
*/
.autocomplete-item:hover
{
	.autocomplete-item-hover
}
