.message-box
{
	display: none;
	
	color: #eee;
	overflow: auto;
}

.message
{
	padding: 20px;
	min-width: 300px;
	max-width: 550px;
	text-align: center;
}

.message-process .message, .message-alert .message
{
	min-width: 100px;
}

.process-img, .alert-img
{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-position: center;
}

.process-img { background-image: url(../img/gears-white.svg); }
.alert-img { background-image: url(../img/alert-white.svg); }

.message-text
{
	margin: 10px 0;
	font-size: 14pt;
	color: #fff;
}

@media all and (min-width: 400px)
{
	.message-text
	{
		font-size: 18pt;
	}
}

.message-text > small
{
	display: block;
	margin-top: 12px;
	font-size: 12pt;
	line-height: 14pt;
}

.message-btn
{
	margin: 25px 5px;
}

/* centering trick */
.message-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 300px;/* should be larger than .message */
	
	text-align: center;
	font-size: 0;
	white-space: nowrap;
}

.message-wrapper:before
{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.message
{
	display: inline-block;
	vertical-align: middle;
	position: static;
	white-space: normal;
    font-size: medium;
	font-size: initial;
}

/*
Layout types
(#content classes)
.start-messages
.sketcher-messages
.model-messages
.content-messages
*/
.start-messages #start-messages { display: block; }
.start-messages #start-messages-close { display: block; }
.sketcher-messages #sketcher-messages { display: block; }
.model-messages #model-messages { display: block; }
.content-messages #content-messages { display: block; }

.message-process .message-btn { display: none; }
