/*
form
*/
.btn:active
{
	background: #ddd !important;
	background: linear-gradient(#fff, #ddd) !important;
}

.btn-primary:active
{
	background: #f00 !important;
	background: linear-gradient(#f50, #f30) !important;
}

.btn-search:active
{
	color: #fff !important;
	background: #f00 !important;
	border-color: #f00 !important;
}

.close-btn:active, .dialog-close-btn:active
{
	color: #f00;
}

/*
menu
*/
.dropdown-toggle:not(.tool-button-disabled):active
{
	background-color: #fff !important;
}

.dropdown-menu > li > a:not(.disabled):active
{
	color: #fff;
	background: #f00;
}

/*
sketcher
*/
.tool-button:not(.tool-button-disabled):active
{
	opacity: 1.0 !important;
	background-color: #f00 !important;
}

/* periodictable */
.pt-element:active
{
	background: #f00;
}

/*
help
*/
.expandable-title:active
{
	color: #f00;
}
