/*
form
*/
.btn:active, .btn-primary:active
{
	color: #fff !important;
	background: #f00 !important;
	border-color: #f00 !important;
}

.close-btn:active
{
	color: #f00;
}

/*
menu
*/
.dropdown-toggle:active
{
	background-color: #fff !important;
}

.dropdown-menu > li > a:not(.disabled):active
{
	color: #fff;
	background: #f00;
}

/*
sketcher
*/
.tool-button:active
{
	opacity: 1.0;
	background-color: #f00;
}

.tool-button-disabled:active
{
	opacity: 0.3;
	background-color: #000;
}

/* periodictable */
.pt-element:active
{
	background: #f00;
}

/*
help
*/
.expandable-title:active
{
	color: #f00;
}
