#search-autocomplete
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-height: 100%;

	background: #eee;

	overflow: auto;
	overflow-x: hidden;
}

@media all and (min-width: 1250px)
{
	#search-autocomplete
	{
		width: 710px;
	}
}

#search-autocomplete > ul
{
	margin: 0;
	padding: 0;
}

.autocomplete-item
{
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 5px;

	color: #111;
}

.autocomplete-pubchem { color: #3c763d; background: #dff0d8; border-left: 4px solid #0a0; }
.autocomplete-biomolecule { color: #a94442; background: #f2dede; border-left: 4px solid #f10; }
.autocomplete-mineral { color: #31708f; background: #d9edf7; border-left: 4px solid #07f; }

/* same style as in hover.css */
.autocomplete-item-active
{
	color: #fff;
	background: #f50;
	border-color: #f50;
}

.autocomplete-type
{
	float: right;
	margin: 0 10px;
	font-style: italic;
}
