/*
form
*/
select:hover
{
	border-bottom-color: #f50;
}

.btn:hover
{
	background: #fff;
	border-color: #f50;
}

.btn-primary:hover
{
	background: #f30;
	border-color: #f00;
}

.close-btn:hover
{
	color: #f50;
}

/*
menu
*/
.dropdown-toggle:hover
{
	background-color: #eee !important;
}

.dropdown-menu > li > a:not(.disabled):hover
{
	color: #fff;
	background: #f50;
}

/*
sketcher
*/
.tool-button:hover
{
	opacity: 1.0;
	background-color: #f30;
}

.tool-button-disabled:hover
{
	opacity: 0.3;
	background-color: #eee;
}

/*
periodictable
*/
.pt-element:hover
{
	background: #ddd;
}

/*
help
*/
.expandable-title:hover
{
	background: #fff;
}

/*
search
*/
.load-more:hover
{
	color: #fff;
	background-color: #f50;
}

.result-title:hover
{
	background: #f50;
}

.result-notext:hover > .result-title
{
	background: #f50;
}

/*
autocomplete
*/
.autocomplete-item:hover
{
	color: #fff;
	background: #f30;
}
