.menu .dropdown-toggle
{
	font-size: 12pt;
}

ul.dropdown-menu
{
	padding: 0 0 5px 0;
	
	border-radius: 0 0 4px 4px;
}

ul.dropdown-menu > .header
{
	margin-top: 5px;
	padding: 3px 20px;
	font-size: 8pt;
	
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

ul.dropdown-menu > li > a
{
	padding: 5px 30px 5px 20px;
	font-size: 12pt;
}

