.dropdown-toggle
{
	font-size: 14pt;
}

.dropdown-menu
{
	padding: 5px 0;
	
	border-radius: 0 0 4px 4px;
}

li.menu-header
{
	padding: 5px 20px;
	font-size: 10pt;
}

.dropdown-menu > li > a
{
	padding: 7px 30px 7px 20px;
	font-size: 14pt;
	border-top: 1px solid #eee;
}

.menu-header + li > a
{
	border-top: 0;
}
